<article class="creature">

    <div class="creature-content">
        <p class="creature-name">
          <span class = "important">{{name}}</span>
        </p>
        <p class="creature-content stat-block" >
          <br>
          <span class="important">Class: </span> <span>{{cla}}</span>
          <br>
          <span class="important">Level: </span> <span>{{lvl}}</span>
          <br>
          <span class = "important">Strength:</span> <span>{{str}}</span>
          <br>
          <span class = "important">Dexterity:</span> <span>{{dex}}</span>
          <br>
          <span class = "important">Constitution:</span> <span>{{con}}</span>
          <br>
          <span class = "important">Intelligence:</span> <span>{{int}}</span>
          <br>
          <span class = "important">Wisdom:</span> <span>{{wis}}</span>
          <br>
          <span class = "important">Charisma:</span> <span>{{cha}}</span>
        </p>
        <span class="important">AC: </span> <span>{{ac}}</span>
        <br>
        <span class="important">HP: </span> <span>{{hp}}</span>
        <br>
        <span class="important">Movement Speed: </span> <span>{{ms}}</span>
        <!--<p class= "creature-content proficiencies">
         <span class = "important">Proficiencies:</span>
          {{#each prof}}
          <p>
            <span class = "less-important">{{name}}</span>: {{value}}
          </p>
          {{/each}}
        </p>
        <p class="creature-content special-abilities" >
          <span class = "important">Special Abilities:</span>
          {{#each sa}}
          <p>
              <span class = "less-important">{{name}}</span>: {{desc}}
          </p>
          {{/each}}
        </p>-->

    </div>
</article>
