<article class="creature">
    
    <div class="creature-content">
        <p class="creature-name">
          <span class="important">{{name}} ({{sname}})</span>
        </p>

        <p class="creature-content armor-class" ><i class="ra ra-helmet ra-lg"></i>         AC:
          {{armor_class}}
        </p>
        <p>
            <i class="ra ra-hearts ra-lg"></i>  HP:
            <input type="number" value={{hit_points}}>
            / {{hit_points}}
        </p>
        <p class="creature-content initiative" >
            <i class="ra ra-battered-axe ra-lg"></i> Initiative:
          {{initiative}}
        </p>

    </div>
</article>