<article class="creature creature-info">
    
    <div class="creature-content">
        <p class="creature-name">
          <a href="#">{{name}}</a>
        </p>
        <p>
            Challenge Rating: {{CR}}
        </p>
        <p class="creature-content stat-block" >
          Strength: {{str}},
          Dexterity: {{dex}},
          Constitution: {{con}},
          Intelligence: {{int}},
          Wisdom: {{wis}},
          Charisma: {{cha}}
        </p>
        <p class= "creature-content proficiencies">
          Proficiencies:
          {{#each prof}}
          <p>
              {{name}}: {{value}}
          </p>
          {{/each}}
        </p>
        <p class="creature-content dmg-vul" >
          Vulnerabilities: {{vuls}}
        </p>
        <p class="creature-content dmg-resist" >
          Resistances: {{resist}}
        </p>
        <p class="creature-content dmg-immune" >
          Immunities: {{immune}}
        </p>
        <p class="creature-content condit-immune" >
          Condition Immunities:
          {{#each con_immune}}
              {{name}},
          {{/each}}
        </p>
        <p class="creature-content special-abilities" >
          Special Abilities:
          {{#each sa}}
          <p>
              {{name}}: {{desc}}
          </p>
          {{/each}}
        </p>
        <p class="creature-content actions" >
          Actions:
          {{#each act}}
          <p>
              {{name}}: {{desc}}
              {{attack_bonus}}
          </p>
          {{/each}}
        </p>
        <p class="creature-content leg-actions" >
          Legendary Actions: 
          {{#each lact}}
          <p>
              {{name}}: {{desc}}
          </p>
          {{/each}}
        </p>

    </div>
</article>
