<article class="creature">

    <div class="creature-content">

        <p class="creature-name">

          <span class="important">{{name}} ({{sname}})</span>
        </p>

        <p class="creature-content armor-class" >
          AC:
          {{armor_class}}
        </p>
        <p>
          HP:
        <input type = "number" value = {{hit_points}}>
          / {{hit_points}}
        </p>
        <p class="creature-content initiative" >
          Initiative:
          {{initiative}}
        </p>
        <button class="creature-button" > Delete</button>

    </div>
</article>
