<article class="equipment creature">

    <div class="equipment-content creature-content">
        <p class="equipment-name">
          <a href="#">{{name}} </a>
        </p>

        <p class="equipment-content " >
          Cost:
          {{equipment_cost}}{{cost}}
        </p>
        <p>
          Equipment Category:
            {{equipment_category}}
        </p>
        <p class="equipment-content " >
          Damage:
          {{#each damage}}
          <p>
              {{damage_dice}}
              {{damage_bonus}}
              {{#each damage_type}}
                {{name}}
              {{/each}}
          </p>
          {{/each}}
        </p>
        <p>
          Range:
            {{range}}/{{rangeLong}}
        </p>
        <p>
          Properties:
            {{#each properties}}
            {{name}}
            {{/each}}
        </p>
        <p>
          Description:
            {{desc}}

        </p>

    </div>
</article>
